
react frontend/node_modules/.cache/.eslintcache
react frontend/node_modules/.cache/.eslintcache
react frontend/node_modules/.cache/.eslintcache
react frontend/node_modules/.cache/default-development/0.pack
react frontend/node_modules/.cache/default-development/index.pack
react frontend/node_modules/.cache/default-development/index.pack.old
*.pack
*.old
*.pack
react frontend/node_modules/.cache/.eslintcache
