<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>JustWorks Marketplace</title>
        <link rel="stylesheet" href="../css/styles.css">
        <script src="../static/script.js"></script>
        <!-- Load React. -->
        <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
        <!-- Load React component. -->
        <script src="../static/XXX.js"></script>

    </head>
    <body>
        <main-header></main-header>

        <div>
            <h1>Login Debug</h1>
            <br>
            <h4>Choose an Account</h4>
            <br>
            <button onclick="login(0)">Jane Doe</button><br><br>
            <button onclick="login(1)">John Smith</button>
        </div>
    </body>
    
    <script>
        var login= function(userid){
            if(userid==0){
                localStorage.setItem("user", "Jane Doe");
                localStorage.setItem("userid", 0);
            }
            else if(userid==1){
                localStorage.setItem("user", "John Smith");
                localStorage.setItem("userid", 1);
            }
            return document.location.href="profile.html"
        }
    </script>


    <!-- <form>
            <label>username</label><br>
            <input type="text" name="username" id="username" required value="JaneDoe"><br>
            <br>
            <label>password</label><br>
            <input type="password" name="password" id="password" required value="00000000"><br>
            <br>
            <input type="submit" value="Login" onclick="login()">

        </form> -->

    <!-- <script>
        var username=document.getElementById("username");
        localStorage.setItem("user", username.val());

        var login= function(){
            document.location.href="profile.html"
        }
    </script> -->


</html>
