
/* ----------------------------- Tong ------------------------------ */

.title_font {
    font-family: "Oswald", serif;
    font-size: 4.5vw;
   
}

.font {
    font-family: "Source Sans Pro", serif ;
    color: #0b2d3b;
    
}

.new_btn {
    background: #3295e5 !important;
}

#home_head {
    background: #00446b;
}


/* -----------------------------  ------------------------------ */

/* Navigation & Home */

.btn {
    margin: 2px;
}

.btn.signup {
    color: white;
    background-color: #ff8d47;
}

.container-logo{
    justify-content: right;
    padding: 20px;
}
#navbarNav{
    justify-content:space-between;
}
.collapse .navbar-collapse {
    justify-content: space-between;
}


/* ----------------------------------------------------------- */

/* footer css start */
html, body {
  height: 100%;
  width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffffff;
}
footer{
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    background: #3971cb;
    height: auto;
    font-family: "Ariel", sans-serif;
    padding-top: 30px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h4{
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Ariel", sans-serif;
    color: white;
    line-height: 3rem;
}

/* sub code start */

/* Style the form element  */
form {
 /* border: 20px solid #0a3c8c;*/
    width: 500px;
    align-items: center;
    justify-content: center;
    padding: 20px 100px 20px 120px;
}.toprad{
  border-radius: 10px 10px 0 0;
}
.container-botrad{
  border-radius: 0 0 10px 10px;
}
/* Add some padding and a grey background color to containers */
.subButton-container{
  padding: 15px;
  background-color: #ffffff;
}
/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Add margins to the checkbox */
input[type=checkbox] {
    margin-bottom: 3px;
    margin-top: 12px;
}
/* Style the submit button */
input[type=submit] {
  background-color: #3946b6;
  color: white;
  border: none;
}
input[type=submit]:hover {
  background-color: #0d1557;
}
/* sub code end */

.socials{
    list-style: none;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.socials li{
    margin: 0 10px;
}
/*socials are white*/
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 30px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #5edef7;
}

/*Footer content stuff */
/*flex!*/
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/*css for category thing*/
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
  position: relative;
}
/*the line under each thing*/
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  bottom: -4px;
  height: 2px;
  width: 50px;
  background: #fff;
}
/*removes stupid bullets*/
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
/*css for links*/
.content .link-boxes .box li a{
  color: #fff;
  padding-left: 50px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
/*Links underline when u hover*/
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}

.footer-bottom{
    background: #0a3c8c;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #ffffff;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .5;
    font-weight: normal;
    color: #ffffff;
}

/* footer css end */
/* -------------------------- Tong --------------------------------- */

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: scale-down;
    max-width: 200px;

}

.card{
    height: 38vw !important;
    overflow: scroll;
    /*max-width: 300px;*/
    max-height: 600px;

}

.designed_btn {
    background: #11557C !important;
    color: white !important;
}

.card-title{
  font-size: 1.5vw !important;
}

/* -------------------------- Naomi --------------------------------- */


.card.medium{
  /* padding-top: 10px; */
  height: 100% !important;
  width: 100% !important;
  overflow: scroll;
  /*max-width: 300px;*/
  max-height: 500px;

}

.card-title.medium{
  font-size: 100% !important;
  max-width: 100%;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}





/* -------------------------- Tong (button-6) Please don't edit any--------------------------------- */

.button-6 {
  align-items: center;
  background-color: #3480e8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255);
  cursor: pointer;
  display: inline-flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgb(255, 255, 255);
    background: #000e6b;
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* -------------------------- Hafeefa --------------------------------- */

#getstartedbutton {
    background: rgb(255,99,71);
    border-radius: 8%;
    padding: 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    padding-right: 18px;
    padding-left: 19px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
#thebuttonspaddings{
    padding-top:5px;
}
#theloginbutton{
    border: solid;
    border-radius: 8%;
    padding:19px;
    padding-left:30px;
    padding-right:30px;
    border-block-color:black;
    background:white;
    color:black;
    font-weight: 600;
    text-decoration:none;
}
.card-img-top{
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    padding-top: 10px;

}
.col-sm{
    padding-bottom:10px;
    color: #0b2d3b;
    padding-left: 20px;
}
#diff {
    padding-left: 2px;
    font-family: Helvetica Neue;
    font-size: 20px;
}
#theBack{
    background: white;
}
#theBracelet{
    font-size: 30px;
    font-weight: bold;
}
#Colors{
    padding-top:40px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight:bold;
}
#costofbracelet{
    font-size: 25px;
    padding: 10px;
    padding-top:25px;
    font-weight:bold;
    padding-bottom: 15px;
}
#addtobag{

}
.checked {
  color: orange;
}
#prodMeasurement{
    padding-top:10px;
    padding-left: 10px;
}
#braceletimg{
    padding-top:20px;
}

/* ---------------------------- Naomi ------------------------------- */

/* BIO/Profile Page  */

.profile.center {
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex !important;
}

.profile.contain {
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #D1D8DE;
  
}

.profile.products {
  background-color: #F0F8FF !important;
  border: None !important;
  min-width: 150px;
}

.profile.background {
  background: #F0F8FF;
}

.profile.wrapping {  
  display: grid;  
  grid-gap: 5px;  
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);  
}


/* ---------------------------Rachel-------------------------------- */
.herofont {
  font-family: "Oswald", serif;
  font-size: 4.5vw;
  color: #ffffff;
}

.clientbiofont {
font-family:'Oswald'
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.wrapper {
  padding: 100px;
}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;
}



/* -----------------------Breakpoints------------------------------------ */

