<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>

<link rel="stylesheet" type="text/css" href="hafeefa.css" />

  </head>
  <body>
<br>
<!-- beginning of nav -->

    <nav class="navbar navbar-expand-lg navbar-light " style="border-bottom: solid" id="navv">
        <a class="navbar-brand" href="#"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav"> <!-- css -->
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          <li class="nav-item">
            <a href="http://127.0.0.1:5000/post"><button type="button" class="btn btn-primary">Post Product</button></a>

          </li>
          </ul>
            <div class="container-logo">
            <img src="https://jwassets.justworks.com/assets/logos/og-logo-icon-37f2f3dec5838014e66c4ca492c2bed24e6f0119c8a9428e63c2bc5802f034f7.png" alt="Payroll, Benefits, HR Software, and Compliance | Justworks | Justworks" width="50" height="50"/>
            </div>
        </div>
      </nav>

<!-- end of nav-->
<!-- --><br>

  <div class="col text-center"> <!-- this in center-->
        <div class="col text-center"> <!-- this put button in center-->

 <!--     <div class="col text-center"> <! --this put button in center-->
    <h1 id = "h1">Write the product / subscription name here</h1>
            <div class="container">
                <div class="row">
                      <div class="col-sm">
                <div class="card" style="width: 45rem;">

 <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
        alt="Hollywood Sign on The Hill" />  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
                </div>


      <div class="col text-center" id="tables"> <!-- this put button in center-->

                           <!-- <p> <br> </p> do padding-->
      <p id="prodName"> (product name) </p>

<div class="col-sm">
          <ul class="list-group" id="cards">
  <li class="list-group-item">Previously owned </li>
  <li class="list-group-item">Length: 10.25in / 26cm </li>
  <li class="list-group-item">Height: 6.25in / 16cm</li>
  <li class="list-group-item">Slip pocket, Patch interior pockets</li>
  <li class="list-group-item">Fold-over flap with turn lock closure</li>
</ul>

      </div>
      </div>
            </div>
                 <!-- <p><br></p>  do padding instead-->
            <p id="checkMore"> Recommended</p>
                  <!-- end of card -->
<!--<p><br></p> use padding -->

                                <p> <br></p>

 <div class="row row-cols-3 g-2">

<div class="col">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top"
        alt="Palm Springs Road" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
           <div class="col text-center"> <!-- this put button in center-->
              <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
      </div>
    </div>
  </div>
     <!-- third card-->

  <div class="col">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top"
        alt="Los Angeles Skyscrapers" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little longer</p>
           <div class="col text-center"> <!-- this put button in center-->
              <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
      </div>
    </div>
  </div>
<!-- fourth card-->
  <div class="col">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/050.webp" class="card-img-top"
        alt="Skyscrapers" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
           <div class="col text-center"> <!-- this put button in center-->
              <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
      </div>
    </div>
  </div>
</div>
<!--        -->
<!--       next row -->
<!--        -->
<!-- fifth card-->
      <p><br> <br></p> <p></p>
      <div class="row row-cols-3 g-3">
  <div class="col">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
        alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
           <div class="col text-center"> <!-- this put button in center-->
              <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>

<!-- sixth card-->

  <div class="col">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top"
        alt="Palm Springs Road" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
           <div class="col text-center"> <!-- this put button in center-->
              <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>
          <!-- seventh card -->
  <div class="col">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top"
        alt="Los Angeles Skyscrapers" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
          additional content.</p>
           <div class="col text-center"> <!-- this put button in center-->
                <div class="col text-center"> <!-- this put button in center-->
              <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>
  </div>

          <!-- eighth card-->
  <div class="col">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/050.webp" class="card-img-top"
        alt="Skyscrapers" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
           <div class="col text-center"> <!-- this put button in center-->
              <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>