body{
    font-family: emoji;
}
.container-logo{
    justify-content: right;
    padding: 15px;
}
#cards{
    display: inline-table;
}
.container{
    padding:20px;
    display: inline-flex;
}
#tables{
    padding:90;
    font-size:larg;
}
#checkMore{
    padding-top:50px;
    font-size: large;
}
h1{
    padding-top:30px;
    padding-bottom: 50px;
}
#prodName{
    padding-bottom: 30px;
    padding-top: 30px;
}