<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JustWorks Marketplace</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div>
    <h1>JustWorks Marketplace</h1>
    <h2>Login</h2>
    <form action="/login.html" method="post">
        <label>username</label><br>
        <input type="text" name="username" id="username" required><br>
        <br>
        <label>password</label><br>
        <input type="password" name="password" id="password" required><br>
        <br>
        <input type="submit" value="Login">

    </form>
</div>
    
</body>
</html>