<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JustWorks Marketplace</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div>
    <h1>JustWorks Marketplace</h1>
    <h2>Login Debug</h2>
    <h4>Choose Account</h4>

    <button onclick="login(0)">Jane Doe</button><br><br>
    <button onclick="login(1)">John Smith</button>

    
</div>

<div id="like_button_container"></div>


<import-react></import-react>

<!-- Load our React component. -->
<script src="like_button.js"></script>

</body>
 
<script>
    var login= function(userid){
        if(userid==0){
            localStorage.setItem("user", "Jane Doe");
            localStorage.setItem("userid", 0);
        }
        else if(userid==1){
            localStorage.setItem("user", "John Smith");
            localStorage.setItem("userid", 1);
        }
        return document.location.href="profile.html"
    }
</script>


<!-- <form>
        <label>username</label><br>
        <input type="text" name="username" id="username" required value="JaneDoe"><br>
        <br>
        <label>password</label><br>
        <input type="password" name="password" id="password" required value="00000000"><br>
        <br>
        <input type="submit" value="Login" onclick="login()">

    </form> -->

<!-- <script>
    var username=document.getElementById("username");
    localStorage.setItem("user", username.val());

    var login= function(){
        document.location.href="profile.html"
    }
</script> -->


</html>
