<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Brief Client Bio</h1>
    <p class="lead">
      
Information about the client and services.</p>
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    Learn More
  </div>
  <div class="card-body">
    <h5 class="card-title">Name of Client</h5>
    <p class="card-text">Their slogan etc.</p>
    <a href="#" class="btn btn-primary">Link to full profile</a>
  </div>
  <div class="card-footer text-muted">
  Founded in 2022
  </div>
</div>

</body>
</html>
