<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JustWorks Marketplace</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div>
    <h1>JustWorks Marketplace</h1>
    <h2>Profile</h2><br>
    <h3 id="greeting"></h3><br>
    <label>Your Products</label>

    <button onclick="location.href = 'post_page.html'">Upload New Product</button>

    <p id="message">I have 3 products.</p>


    </form>
</div>
    
</body>

<script>
   var name=localStorage.getItem("user");
   document.getElementById('greeting').innerHTML= "Welcome back, " + name + "!";
</script>

</html>